.input {
    padding: 30px 10px;
    width: 300px;
    background-color: transparent;
    text-align: center;
    font-family: "Franklin Gothic Regular", "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    color: white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    outline: none;
}


/*hide default arrows on input*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input:hover {
    background-color: darkgray;
}

.disabled-input {
    pointer-events: none;
}

.minute {
    border-left: 5px solid white;
    border-right: 1px solid white;
}

.second {
    border-left: 1px solid white;
    border-right: 5px solid white;
}