.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

body {
  background-color: gray;
  box-sizing: border-box;
}
