.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

body {
  background-color: #000;
  box-sizing: border-box;
}
